[Unit]
Description=Prometheus Blackbox Exporter
Documentation=https://github.com/prometheus/blackbox_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=blackbox_exporter
Group=blackbox_exporter

ExecStart=/opt/blackbox_exporter/blackbox_exporter \
        --config.file=/opt/blackbox_exporter/blackbox.yml \
        --log.level=debug \
        --log.format=json \

SyslogIdentifier=blackbox_exporter
Restart=always

ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=10s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
