[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/opt/node_exporter/node_exporter \
        --web.listen-address=0.0.0.0:9100 \
    {% for collectors in node_exporter_collectors %}
    --collector.{{ collectors }} \
    {% endfor %}
    {% for collectors in node_exporter_nocollectors %}
    --no-collector.{{ collectors }} \
    {% endfor %}
    --collector.systemd.unit-whitelist=({{ node_exporter_systemd_services | join('|') }})\.service \
    --web.disable-exporter-metrics \
    --log.level=debug \
    --log.format=json \

SyslogIdentifier=node_exporter
Restart=always

ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=10s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
