[Unit]
Description=Prometheus Server
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/opt/prometheus/prometheus
        --config.file=/opt/prometheus/prometheus.yml \
        --web.route-prefix={{ prometheus_prefix }} \
        --storage.tsdb.path=/opt/prometheus/data \
        --web.console.templates=/opt/prometheus/consoles \
        --web.console.libraries=/opt/prometheus/console_libraries \
        --storage.tsdb.min-block-duration=2h \
        --storage.tsdb.max-block-duration=12h \
        --storage.tsdb.retention=31d \
        --web.external-url={{ prometheus_web_external_url }} \
        --web.config.file=/opt/prometheus/web-config.yml
        --web.enable-lifecycle \
        --log.level=debug \
        --log.format=json \

SyslogIdentifier=prometheus
Restart=always

ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=10s
SendSIGKILL=no

[Install]
WantedBy=default.target
